# Logistic regression model for select the survivors of the titanic

In [1]:
import pandas as pd 

import numpy as np

import tensorflow as tf

In [2]:
dataset_path='../Media/titanicdatacleaned.xlsx'

dataset=pd.read_excel(dataset_path)

dataset.head(10)

,pclass,survived,name,sex,age,ticket,fare,cabin,embarked,boat
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,24160,211.3375,B5,S,2
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,113781,151.5500,C22 C26,S,11
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,113781,151.5500,C22 C26,S,1000
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,113781,151.5500,C22 C26,S,1001
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,113781,151.5500,C22 C26,S,1002
5,1,1,"Anderson, Mr. Harry",male,48.00,19952,26.5500,E12,S,3
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,13502,77.9583,D7,S,10
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,112050,0.0000,A36,S,1003
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,11769,51.4792,C101,S,D
9,1,0,"Astor, Col. John Jacob",male,47.00,PC 17757,227.5250,C62 C64,C,1005

In [3]:
dataset = pd.get_dummies(dataset, columns=['sex'])


def fill_boolean_encoding(column):

    dataset[column] = dataset[column].astype(int)


#Second option
# def fill_boolean_encoding(column):
#     for i in range(dataset.shape[0]):
#         if dataset.loc[i, column] == True:
#             dataset.loc[i, column] = 1
#         else:
#             dataset.loc[i, column] = 0


fill_boolean_encoding('sex_female')

fill_boolean_encoding('sex_male')

In [4]:
dataset.drop(columns=['sex_male'], inplace=True)

dataset=dataset.rename(columns={'sex_female':'gender'})

In [5]:
dataset

,pclass,survived,name,age,ticket,fare,cabin,embarked,boat,gender
0,1,1,"Allen, Miss. Elisabeth Walton",29.00,24160,211.3375,B5,S,2,1
1,1,1,"Allison, Master. Hudson Trevor",0.92,113781,151.5500,C22 C26,S,11,0
2,1,0,"Allison, Miss. Helen Loraine",2.00,113781,151.5500,C22 C26,S,1000,1
3,1,0,"Allison, Mr. Hudson Joshua Creighton",30.00,113781,151.5500,C22 C26,S,1001,0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.00,113781,151.5500,C22 C26,S,1002,1
...,...,...,...,...,...,...,...,...,...,...
287,3,1,"Sandstrom, Miss. Marguerite Rut",4.00,PP 9549,16.7000,G6,S,13,1
288,3,0,"Soholt, Mr. Peter Andreas Lauritz Andersen",19.00,348124,7.6500,F G73,S,1749,0
289,3,0,"Strom, Miss. Telma Matilda",2.00,347054,10.4625,G6,S,1759,1
290,3,0,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",29.00,347054,10.4625,G6,S,1760,1
291,3,0,"Tobin, Mr. Roger",24.00,383121,7.7500,F38,Q,1771,0

The gender column have 2 options , for the female 1 and the male 0

In [6]:
dataset['embarked'].value_counts()

embarked_values={'S':1,"C":2,"Q":3}

embarked_values = {'S': 1, 'C': 2, 'Q': 3}

def fill_embarked(column):
    dataset[column] = dataset[column].map(embarked_values)

    dataset[column].fillna(1, inplace=True)
    
    dataset[column]=dataset[column].astype(int)

fill_embarked('embarked')

dataset

C:\Users\Cristian\AppData\Local\Temp\ipykernel_21928\1416127295.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(1, inplace=True)

,pclass,survived,name,age,ticket,fare,cabin,embarked,boat,gender
0,1,1,"Allen, Miss. Elisabeth Walton",29.00,24160,211.3375,B5,1,2,1
1,1,1,"Allison, Master. Hudson Trevor",0.92,113781,151.5500,C22 C26,1,11,0
2,1,0,"Allison, Miss. Helen Loraine",2.00,113781,151.5500,C22 C26,1,1000,1
3,1,0,"Allison, Mr. Hudson Joshua Creighton",30.00,113781,151.5500,C22 C26,1,1001,0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.00,113781,151.5500,C22 C26,1,1002,1
...,...,...,...,...,...,...,...,...,...,...
287,3,1,"Sandstrom, Miss. Marguerite Rut",4.00,PP 9549,16.7000,G6,1,13,1
288,3,0,"Soholt, Mr. Peter Andreas Lauritz Andersen",19.00,348124,7.6500,F G73,1,1749,0
289,3,0,"Strom, Miss. Telma Matilda",2.00,347054,10.4625,G6,1,1759,1
290,3,0,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",29.00,347054,10.4625,G6,1,1760,1
291,3,0,"Tobin, Mr. Roger",24.00,383121,7.7500,F38,3,1771,0

In [7]:
X = dataset[['age', 'fare', 'gender', 'embarked']].values

Y=dataset['survived'].values

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(X,Y,random_state=42,shuffle=True,train_size=0.7)

num_features = x_train.shape[1]

num_labels = 1

In [9]:
x_train=tf.constant(x_train,dtype=tf.float32)

x_test=tf.constant(x_test,dtype=tf.float32)


y_train=tf.constant(y_train,dtype=tf.float32)

y_test=tf.constant(y_test,dtype=tf.float32)

In [10]:
weight = tf.Variable(tf.random.normal([num_features, num_labels]))
bias = tf.Variable(tf.zeros([num_labels]))

def logistic_regression(x):
    z = tf.matmul(x, weight) + bias
    return tf.nn.sigmoid(z)

# Ensure that y_train and y_test are (batch_size, 1)
y_train = tf.reshape(y_train, [-1, 1])
y_test = tf.reshape(y_test, [-1, 1])

num_epochs=500

# Optimization (RMSprop)

In [11]:

def accuracy(y_true, y_pred):
    predicted = tf.round(y_pred)
    acc = tf.reduce_mean(tf.cast(tf.equal(predicted, y_true), tf.float32))
    return acc

mean = tf.reduce_mean(x_train, axis=0)
std = tf.math.reduce_std(x_train, axis=0)
x_train_norm = (x_train - mean) / std
x_test_norm = (x_test - mean) / std

learning_rate = 0.001  
optimizer = tf.keras.optimizers.RMSprop(learning_rate, decay=1e-6, momentum=0.9)
loss_object = tf.keras.losses.BinaryCrossentropy(from_logits=False)

def run_optimization(x, y):
    with tf.GradientTape() as g:
        pred = logistic_regression(x)
        loss = loss_object(y, pred)
    
    gradients = g.gradient(loss, [weight, bias])
        # Add gradient clipping to prevent explosion  gradients
    optimizer.apply_gradients(zip(gradients, [weight, bias]))
    
    return loss, pred

c:\Users\Cristian\Documents\TitanicSurvivors\venv\Lib\site-packages\keras\src\optimizers\base_optimizer.py:33: UserWarning: Argument `decay` is no longer supported and will be ignored.
  warnings.warn(

# Train model

In [12]:
def train_model(x_train, x_test, y_train, y_test, num_epochs):
    # Normalize the data
    mean = tf.reduce_mean(x_train, axis=0)
    std = tf.math.reduce_std(x_train, axis=0)
    x_train_norm = (x_train - mean) / std
    x_test_norm = (x_test - mean) / std

    train_losses, val_losses = [], []
    train_accuracies, val_accuracies = [], []

    for epoch in range(num_epochs):
        # Optimize the model
        train_loss, train_pred = run_optimization(x_train_norm, y_train)
        train_acc = accuracy(y_train, train_pred)

        val_pred = logistic_regression(x_test_norm)
        val_loss = loss_object(y_test, val_pred)
        val_acc = accuracy(y_test, val_pred)

        # 100 epochs analysis
        if epoch % 100 == 0:
            print(f"Weight norm: {tf.norm(weight).numpy():.4f}")
            print(f"Bias value: {bias.numpy()[0]:.4f}")

        train_losses.append(float(train_loss))
        val_losses.append(float(val_loss))
        train_accuracies.append(float(train_acc))
        val_accuracies.append(float(val_acc))

        if epoch % 10 == 0:  # Reducir frecuencia de impresión
            print(f"Epoch {epoch+1}/{num_epochs} - "
                  f"loss: {train_loss:.4f} - acc: {train_acc:.4f} - "
                  f"val_loss: {val_loss:.4f} - val_acc: {val_acc:.4f}")

    return {
        'train_losses': train_losses,
        'val_losses': val_losses,
        'train_accuracies': train_accuracies,
        'val_accuracies': val_accuracies
    }

resuls = train_model(x_train, x_test, y_train, y_test, num_epochs)

Weight norm: 1.7462
Bias value: 0.0032
Época 1/500 - loss: 1.3656 - acc: 0.2941 - val_loss: 1.1780 - val_acc: 0.3523
Época 11/500 - loss: 1.2831 - acc: 0.2892 - val_loss: 1.1136 - val_acc: 0.3409
Época 21/500 - loss: 1.1800 - acc: 0.3039 - val_loss: 1.0413 - val_acc: 0.3750
Época 31/500 - loss: 1.0889 - acc: 0.3088 - val_loss: 0.9791 - val_acc: 0.3636
Época 41/500 - loss: 1.0110 - acc: 0.3235 - val_loss: 0.9265 - val_acc: 0.4091
Época 51/500 - loss: 0.9440 - acc: 0.3529 - val_loss: 0.8805 - val_acc: 0.4318
Época 61/500 - loss: 0.8856 - acc: 0.4020 - val_loss: 0.8372 - val_acc: 0.4773
Época 71/500 - loss: 0.8332 - acc: 0.4559 - val_loss: 0.7937 - val_acc: 0.5455
Época 81/500 - loss: 0.7864 - acc: 0.4951 - val_loss: 0.7532 - val_acc: 0.5682
Época 91/500 - loss: 0.7446 - acc: 0.5784 - val_loss: 0.7184 - val_acc: 0.5909
Weight norm: 0.5726
Bias value: 0.6870
Época 101/500 - loss: 0.7070 - acc: 0.6029 - val_loss: 0.6882 - val_acc: 0.6136
Época 111/500 - loss: 0.6732 - acc: 0.6029 - val_loss: 0.6620 - val_acc: 0.6364
Época 121/500 - loss: 0.6432 - acc: 0.6275 - val_loss: 0.6391 - val_acc: 0.6477
Época 131/500 - loss: 0.6164 - acc: 0.6422 - val_loss: 0.6191 - val_acc: 0.6364
Época 141/500 - loss: 0.5924 - acc: 0.6961 - val_loss: 0.6010 - val_acc: 0.6705
Época 151/500 - loss: 0.5705 - acc: 0.7304 - val_loss: 0.5836 - val_acc: 0.6818
Época 161/500 - loss: 0.5503 - acc: 0.7353 - val_loss: 0.5665 - val_acc: 0.6932
Época 171/500 - loss: 0.5318 - acc: 0.7353 - val_loss: 0.5509 - val_acc: 0.6932
Época 181/500 - loss: 0.5151 - acc: 0.7451 - val_loss: 0.5380 - val_acc: 0.7045
Época 191/500 - loss: 0.5002 - acc: 0.7402 - val_loss: 0.5267 - val_acc: 0.7273
Weight norm: 0.7766
Bias value: 0.7343
Época 201/500 - loss: 0.4868 - acc: 0.7304 - val_loss: 0.5169 - val_acc: 0.7386
Época 211/500 - loss: 0.4751 - acc: 0.7549 - val_loss: 0.5087 - val_acc: 0.7614
Época 221/500 - loss: 0.4648 - acc: 0.7500 - val_loss: 0.5018 - val_acc: 0.7500
Época 231/500 - loss: 0.4559 - acc: 0.7892 - val_loss: 0.4963 - val_acc: 0.7386
Época 241/500 - loss: 0.4484 - acc: 0.7990 - val_loss: 0.4920 - val_acc: 0.7500
Época 251/500 - loss: 0.4420 - acc: 0.7990 - val_loss: 0.4888 - val_acc: 0.7614
Época 261/500 - loss: 0.4368 - acc: 0.7941 - val_loss: 0.4865 - val_acc: 0.7841
Época 271/500 - loss: 0.4326 - acc: 0.7941 - val_loss: 0.4851 - val_acc: 0.7841
Época 281/500 - loss: 0.4293 - acc: 0.7941 - val_loss: 0.4845 - val_acc: 0.7614
Época 291/500 - loss: 0.4269 - acc: 0.7892 - val_loss: 0.4845 - val_acc: 0.7500
Weight norm: 1.5511
Bias value: 1.0510
Época 301/500 - loss: 0.4251 - acc: 0.7892 - val_loss: 0.4850 - val_acc: 0.7273
Época 311/500 - loss: 0.4240 - acc: 0.7892 - val_loss: 0.4860 - val_acc: 0.7386
Época 321/500 - loss: 0.4234 - acc: 0.7941 - val_loss: 0.4871 - val_acc: 0.7386
Época 331/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4883 - val_acc: 0.7273
Época 341/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 351/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4893 - val_acc: 0.7159
Época 361/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 371/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4890 - val_acc: 0.7159
Época 381/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 391/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4890 - val_acc: 0.7159
Weight norm: 1.7626
Bias value: 1.1806
Época 401/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 411/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 421/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 431/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 441/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 451/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 461/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 471/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 481/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159
Época 491/500 - loss: 0.4231 - acc: 0.7892 - val_loss: 0.4891 - val_acc: 0.7159

# Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score, KFold

def cross_validate_model(X, Y, num_epochs, k_folds=5):
    kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)
    fold_scores = []
    
    for fold, (train_idx, val_idx) in enumerate(kf.split(X)):
        print(f"\nEntrenando fold {fold+1}/{k_folds}")
        
        # Prepare data
        x_train_fold = tf.gather(X, train_idx)
        y_train_fold = tf.gather(Y, train_idx)
        x_val_fold = tf.gather(X, val_idx)
        y_val_fold = tf.gather(Y, val_idx)
        
        # Reset the bias and weight
        global weight, bias
        weight.assign(tf.random.normal([num_features, num_labels]))
        bias.assign(tf.zeros([num_labels]))
        
        # Train the model
        results = train_model(x_train_fold, x_val_fold, 
                            y_train_fold, y_val_fold, 
                            num_epochs)
        
        fold_scores.append(results['val_accuracies'][-1])
    
    print("\nCross validation results")
    print(f"Accuracy promedio: {np.mean(fold_scores):.4f} ± {np.std(fold_scores):.4f}")
    
    return fold_scores

scores = cross_validate_model(x_train, y_train, num_epochs=500)